# Lec1-CreateSeriesAndDataFrame

## 目錄  
1. 資料讀取
    1. CSV
2. 產生資料
    1. Series
        1. 不指定index
        2. 指定index
    2. DataFrame(表格)

## 1. 資料讀取

### 1.A CSV讀取

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Data.csv')
df.head(2)

   2015-10-23  51
0  2016-11-29  38
1  2002-02-06  84

## 2. 產生資料

### 2.A Series

#### 2.A.a 不指定index

In [2]:
s1 = pd.Series([1, 3, 5, np.nan, 44, 1])
s1

0     1.0
1     3.0
2     5.0
3     NaN
4    44.0
5     1.0
dtype: float64

#### 2.A.b 指定index

In [3]:
s2 = pd.Series([1, 2, 3], index={'a', 'b', 'c'})
s2

b    1
a    2
c    3
dtype: int64

### 2.B DataFrame

In [4]:
s1 = pd.Series([1, 1, 2, 1, 2, 2, 3])
s2 = pd.Series([201301, 201301, 201301, 201302, 201302, 201302, 201302])
table = pd.DataFrame(
    {
        'CLIENTCODE': s1,
        'YEARMONTH': s2
    })
table

   CLIENTCODE  YEARMONTH
0           1     201301
1           1     201301
2           2     201301
3           1     201302
4           2     201302
5           2     201302
6           3     201302