# Le2-ViewData

## 目錄
1. 檢視資料狀態
2. 檢視欄位變數型態
3. 設定欄位名稱
4. 變更變數型態
5. 檢視前幾筆資料
6. 檢視後幾筆資料
7. 檢視特定欄位
8. 檢視第N筆資料
9. 檢視第N~M筆資料

## 0. 建立DataFrame(Series)

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Data.csv')

## 1. 檢視資料狀態

In [2]:
df.shape # 共有999筆資料, 2個欄位

(999, 2)

## 2. 檢視欄位變數型態

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
2015-10-23    999 non-null object
51            999 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.7+ KB

## 3. 設定欄位名稱

In [4]:
df.columns = ['date', 'number']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
date      999 non-null object
number    999 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.7+ KB

## 4. 變更變數型態

### 4.A 變更為datetime

In [5]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
date      999 non-null datetime64[ns]
number    999 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 15.7 KB

## 5. 檢視前幾筆資料

In [6]:
df.head() #預設列出前五筆資料, 若要顯示前N筆: dr.head(N)

        date  number
0 2016-11-29      38
1 2002-02-06      84
2 2017-06-06      59
3 2010-03-29      24
4 2015-03-23      94

## 6. 檢視後幾筆資料

In [7]:
df.tail() #預設列出最後五筆資料, 若要顯示最後N筆: dr.tail(N)

          date  number
994 2013-12-08      84
995 2014-05-11      20
996 2013-10-03      52
997 2006-12-28      37
998 2009-05-02      56

## 7. 檢視特定欄位

In [8]:
df['number'].head() #取特定欄位的前五筆資料

0    38
1    84
2    59
3    24
4    94
Name: number, dtype: int64

## 7. 檢視第N筆資料

In [9]:
df.loc[3] #顯示第4筆資料的資訊, 其中資料從0開始

date      2010-03-29 00:00:00
number                     24
Name: 3, dtype: object

## 8. 檢視第N~M筆資料

In [10]:
df.loc[0:2, ['date', 'number']] #顯示特定幾筆/欄位的資料

        date  number
0 2016-11-29      38
1 2002-02-06      84
2 2017-06-06      59