# Lec4-Groupby

## 目錄
1. 以某欄位做為Key重新分組, 並對Data做運算

## 0. 建立DataFrame(Series)

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Data.csv')
df.columns = ['date', 'number']

## 1. 以某欄位做為Key重新分組, 並對Data做運算

In [2]:
data = df.groupby('date')['number'].sum() #將特定資料作為index算特定欄位的總和
data.head()

date
2001-03-05    48
2001-03-16    85
2001-04-03    99
2001-04-07    75
2001-04-10    27
Name: number, dtype: int64

若要再存成dataFrame(or Series)

In [3]:
df1 = pd.DataFrame(data)
df1.head()

            number
date
2001-03-05      48
2001-03-16      85
2001-04-03      99
2001-04-07      75
2001-04-10      27